<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar__brand logo hidden visible-xs" href="#">
        <img class="logo__img" src="../../img/icon/logo.png" alt="">
      </a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar__nav">
        <li class="navbar__item"><a class="navbar__link" href="#">О компании</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#">Услуги</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#">Объекты</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#">Закупки</a></li>
        <li class="active navbar__item"><a class="navbar__link" href="#">Партнеры</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#">Новости</a></li>
        <li class="navbar__item"><a class="navbar__link" href="#">Контакты</a></li>
        <li class="hidden navbar-search-wrap visible-xs">
          <span class="navbar-search header-search clearfix">
            <input class="navbar-search__input header-search__input" type="text">
            <span class="navbar-search__wrap header-search__wrap">
              <button class="header-search__btn" type="button">
                <i class="header-search__icon">
                  <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 250.313 250.313" style="enable-background:new 0 0 250.313 250.313;" xml:space="preserve">
                  <g id="Search">
                    <path style="fill-rule:evenodd;clip-rule:evenodd;" d="M244.186,214.604l-54.379-54.378c-0.289-0.289-0.628-0.491-0.93-0.76
                    c10.7-16.231,16.945-35.66,16.945-56.554C205.822,46.075,159.747,0,102.911,0S0,46.075,0,102.911
                    c0,56.835,46.074,102.911,102.91,102.911c20.895,0,40.323-6.245,56.554-16.945c0.269,0.301,0.47,0.64,0.759,0.929l54.38,54.38
                    c8.169,8.168,21.413,8.168,29.583,0C252.354,236.017,252.354,222.773,244.186,214.604z M102.911,170.146
                    c-37.134,0-67.236-30.102-67.236-67.235c0-37.134,30.103-67.236,67.236-67.236c37.132,0,67.235,30.103,67.235,67.236
                    C170.146,140.044,140.043,170.146,102.911,170.146z"/>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  <g>
                  </g>
                  </svg>
                </i>
              </button>
            </span>
          </span>
        </li>
      </ul>
    </div>
  </div>
</nav>
