<div class="slider swiper-container" id="slider">
    <div class="swiper-wrapper">
        <section class="slider__slide swiper-slide" style="background-image: url(img/background/slider-1.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-xs-12 col-xs-offset-0 col-md-offset-1">
                <p class="slider__info">Наши компетенции</p>
                <h1 class="slider__title">
                  Объекты<br /> химимческой<br /> промышленности
                </h1>
                <p class="slider__description">
                  Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="slider__slide swiper-slide" style="background-image: url(img/background/slider-2.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-xs-12 col-xs-offset-0 col-md-offset-1">
                <p class="slider__info">Наши компетенции</p>
                <h1 class="slider__title">
                  Объекты<br /> химимческой<br /> промышленности
                </h1>
                <p class="slider__description">
                  Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="slider__slide swiper-slide" style="background-image: url(img/background/slider-3.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-xs-12 col-xs-offset-0 col-md-offset-1">
                <p class="slider__info">Наши компетенции</p>
                <h1 class="slider__title">
                  Объекты<br /> химимческой<br /> промышленности
                </h1>
                <p class="slider__description">
                  Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section class="slider__slide swiper-slide" style="background-image: url(img/background/slider-4.jpg);">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-xs-12 col-xs-offset-0 col-md-offset-1">
                <p class="slider__info">Наши компетенции</p>
                <h1 class="slider__title">
                  Объекты<br /> химимческой<br /> промышленности
                </h1>
                <p class="slider__description">
                  Важнейшим преимуществом компании является способность проектировать и строить «под ключ». При этом данные процессы ведутся одновременно, что позволяет заказчику значительно сократить общий строительный цикл объекта.
                </p>
              </div>
            </div>
          </div>
        </section>
    </div>
    <div class="slider-pagination swiper-pagination"></div>
</div>
