$color-orange: #f29700;
$color-grey: #3c4148;
$color-blue: #0e65b7;
$color-white: #ffffff;
$color-black: #000000;

$color-1-0: #6f6f6f;
$color-1-1: #e5e5e5;
$color-1-2: #dbddde;
$color-1-3: #293038;
$color-1-4: #eeeeee;


// Fonts
$ubuntu: Ubuntu;
$roboto: Roboto;
$arial: Arial;

//  Screen
$screen-xs: 320px;
$screen-sm: 768px;
$screen-md: 992px;
